<!DOCTYPE html>
<html>
  <head>
    <title>pyramid song</title>
    <link rel='stylesheet' type="text/css" href='stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/addons/p5.sound.js"></script>
    <script src="../javascripts/p5.svg.js"></script>
  </head>
  <body>
    <h1>pyramid song</h1>
    <div id="canvas"></div>
    <script src="../javascripts/rough.js"></script>
    <script src="../javascripts/sketch.js"></script>
  </body>
</html>
